#board {
    display: grid;
    grid-template-rows: repeat(2, 100px);
    grid-template-columns: repeat(2, 100px);
    justify-content: center;
    
}

#title {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-end: 1;
    grid-column-end: 2;
    text-align: center;
}